[submodule "App/zShell/oh-my-zsh"]
    path = App/zShell/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
    branch = master
    ignore = dirty

[submodule "App/Vim/bundle/Vundle.vim"]
    path = App/Vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git
    branch = master
    ignore = dirty
