[submodule "Apps/Vim/bundle/vim-colors-solarized"]
	path = Apps/Vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "Apps/Vim/bundle/Vundle.vim"]
	path = Apps/Vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
[submodule "Apps/Geany/geany-themes"]
	path = Resources/Geany
	url = https://github.com/codebrainz/geany-themes.git
	branch = master
