*
!brushes/
!brushes/
!brushes/*
!brushes/*
!curves/
!curves/*
!dynamics/
!dynamics/*
!environ/
!environ/*
!fonts/
!fonts/*
!fractalexplorer/
!fractalexplorer/*
!gfig/
!gfig/*
!gflare/
!gflare/*
!gradients/
!gradients/*
!impressionist/
!impressionist/*
!interpreters/
!interpreters/*
!levels/
!levels/*
!modules/
!modules/*
!palettes/
!palettes/*
!patterns/
!patterns/*
!plug-ins/
!plug-ins/*
!plugins/
!plugins/*
!scripts/
!scripts/*
!templates/
!templates/*
!themes/
!themes/*
!tool-options/
!tool-options/*
!tool-presets/
!tool-presets/*
!.gitignore
!.gitkeep
