[Desktop Entry]
Encoding=UTF-8
Name=Link to MaterialIcons-Regular.ttf
Type=Link
URL=https://github.com/google/material-design-icons/blob/master/iconfont/MaterialIcons-Regular.ttf
Icon=text-html
